.lol{

    img src: /* about3 1 */

    position: absolute;
    width: 642px;
    height: 551px;
    left: 891px;
    top: 2623px;
    
    background: url(about3.png);
    

}

h1{
      color: rgb(233, 248, 233);
}

p{

    color:rgb(228, 220, 220);

}


